<div class="navbar">
  <div class="container">
    <div class="navbar_logo">
      <a class="navLogo" href="/"
        ><img class="img-fluid" src="/images/logo.webp" alt="logo" />
        <span>Twani's Net School</span>
      </a>
    </div>
    <div class="navbar_extend">
      <div class="open_menu">
        <span class="material-symbols-outlined"> menu_open </span>
      </div>
      <div class="navbar_links">
        <a class="<%=page==='home'?'active':''%>" href="/" class="navbarSearch">
          <span class="pr-2 material-symbols-outlined"> other_houses </span>
          Home
        </a>
        <a class="<%=page==='about'?'active':''%>" href="/about">About</a>
        <!-- <a class="<%=page==='guide'?'active':''%>" href="/guide">Guide</a> -->
        <%if(currUser && currUser.username){%>
        <a
          class="<%=page==='dashboard'?'active':''%>"
          href="/dashboard/<%=currUser.username%>"
          ><span class="material-symbols-outlined"> account_circle </span
          >dashboard</a
        >
        <a href="/logout"
          ><span class="material-symbols-outlined"> move_item </span> logout</a
        >
        <%}else{%>
        <a class="<%=page==='login'?'active':''%>" href="/login">Login</a>
        <a class="<%=page==='register'?'active':''%>" href="/register"
          >Register</a
        >
        <% } %>
      </div>
    </div>
  </div>
</div>
