<%(layout('layout/boilerplate'))%>
<div class="addData">
  <div class="container">
    <div class="addData_content">
      <header class="header">
        <h1 id="title" class="text-center">Edit video details</h1>
      </header>
      <div class="form-wrap">
        <form id="Content-form">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label id="name-label" for="name">Lesson title</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Enter name of the video file"
                  class="form-control"
                  aria-describedby="name-suggestion"
                  value="<%=data.title%>"
                  required
                />

                <div
                  style="color: rgba(6, 81, 125, 1); font-size: 12px"
                  id="name-suggestion"
                  class="form-text"
                >
                  The lesson title should be unique.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="edit-fileContent">
                <label for="">Current video</label>
                <%-include('../partials/components/videoplayer', {fileId:data._id}) %>
                <label for="choose_video">Choose a new video</label>
                <div class="form-group">
                  <div class="btn float-left form_file_select">
                    <input id="choose_video" type="file" />
                  </div>
                </div>
              </div>
            
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label id="email-label" for="email">Choose subject</label>
                <select name="subject" class="form-select" aria-label="Default select example">
                  <option <%= data.subject==='chemistry'? 'selected' : ''%> value="chemistry">chemistry</option>
                  <option <%= data.subject === 'physics'? 'selected' : ''%> value="physics">physics</option>
                  <option <%= data.subject === 'biology'? 'selected' : ''%> value="biology">biology</option>
                  <option <%= data.subject === 'english'? 'selected' : ''%> value="english">english</option>
                  <option <%= data.subject === 'history'? 'selected' : ''%> value="history">history</option>
                  <option <%= data.subject === 'mathematics'? 'selected' : ''%> value="mathematics">mathematics</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label id="email-label" for="email">Choose level</label>
                <select name="level" class="form-select" aria-label="Default select example">
                  <option <%= data.level === 'senior one'?'selected' : '' %> value="senior one" selected>senior one</option>
                  <option <%= data.level === 'senior two'?'selected' : '' %> value="senior two">senior two</option>
                  <option <%= data.level === 'senior three'?'selected' : '' %> value="senior three">senior three</option>
                  <option <%= data.level === 'senior four'?'selected' : '' %> value="senior four">senior four</option>
                  <option <%= data.level === 'senior five'?'selected' : '' %> value="senior five">senior five</option>
                  <option <%= data.level === 'senior six'?'selected' : '' %> value="senior six">senior six</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label id="name-label" for="topic">Name of the topic</label>
                <input
                  type="text"
                  value="<%=data.topic%>"
                  name="topic"
                  id="topic"
                  placeholder="eg 'Light'"
                  class="form-control"
                  aria-describedby="name-suggestion"
                  minlength="3"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Will this video cost money to watch?</label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    id="customRadioInline1"
                    value="paid"
                    name="cost"
                    class="custom-control-input"
                    checked="<%data.cost ==='paid'? true: false%>"
                  />
                  <label class="custom-control-label" for="customRadioInline1"
                    >Definitely</label
                  >
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    id="customRadioInline2"
                    value="free"
                    name="cost"
                    class="custom-control-input"
                    checked="<%data.cost ==='free'? true: false%>"
                  />
                  <label class="custom-control-label" for="customRadioInline2"
                    >Free</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <button type="submit" id="submit" class="btn secondary_button">
                Upload video
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
