<%(layout('layout/boilerplate'))%>
<div class="viewdata">
  <div class="viewDataContainer">
    <div class="viewDataVideo">
      <div class="viewDataContent">
        <div class="viewDataVideo">
          <%-include('../partials/components/videoplayer',
          {fileId:data.videoUrl, height:'100%', autoplayControl:'true'}) %>
        </div>
        <div class="viewDataDetails">
          <h5><%=data.title%></h5>
          <h6><strong>Topic: </strong><%=data.topic%></h6>
          <h6><Strong>Level: </Strong><%=data.level%></h6>
          <h6><strong>Subject: </strong><%=data.subject%></h6>
        </div>
      </div>
    </div>
    <div class="viewDataRigtContent">
      <div class="similarVideos">
        <h4>videos from the same topic</h4>
        <% if (similarVideos.length) {%>
        <div class="row sameVideoList">
          <ul class="lessons">
            <%for(const videoLesson of similarVideos){%>
            <div class="col-12 mb-3">
              <li>
                <% if (videoLesson.cost ==='free') {%>
                <a
                  class="lesson <%=videoLesson.id === data.id? 'lessonPlaying':'' %>"
                  href="/dashboard/free/video/playnow/<%=videoLesson._id%>"
                >
                  <div class="lessonImage">
                    <% if(videoLesson.id === data.id) {%>
                    <span class="material-symbols-outlined"> play_circle </span>
                    <% }else{%>
                    <span class="material-symbols-outlined"> live_tv </span>
                    <%} %>
                  </div>
                  <div class="lessonTitle">
                    <h6><%=videoLesson.title%></h6>
                  </div>
                  <div class="lessonFooter">
                    <div class="lessonFooterRight">
                      <small>
                        Lesson <span><%=videoLesson.lessonNumber%></span>
                      </small>
                    </div>
                  </div>
                </a>
                <%} else {%>
                <a
                  class="lesson <%=videoLesson.id === data.id? 'lessonPlaying':'' %>"
                  href="/dashboard/subscriptions/video/playnow/<%=videoLesson._id%>"
                >
                  <div class="lessonImage">
                    <% if(videoLesson.id === data.id) {%>
                    <span class="material-symbols-outlined"> play_circle </span>
                    <% }else{%>
                    <span class="material-symbols-outlined"> live_tv </span>
                    <%} %>
                  </div>
                  <div class="lessonTitle">
                    <h6><%=videoLesson.title%></h6>
                  </div>
                  <div class="lessonFooter">
                    <div class="lessonFooterRight">
                      <small>
                        Lesson <span><%=videoLesson.lessonNumber%></span>
                      </small>
                    </div>
                  </div>
                </a>
                <%} %>
              </li>
            </div>
            <%}%>
          </ul>
        </div>
        <% } else {%>
        <div class="noVideosFound">
          <h5>No videos found</h5>
          <span class="material-symbols-outlined">
            sentiment_dissatisfied
          </span>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
