<%(layout('layout/boilerplate'))%>
<div class="viewdata">
  <div class="row">
    <div class="col-lg-8">
      <div class="viewDataContent">
        <div class="viewDataVideo">
          <%-include('../partials/components/videoplayer', {fileId:data._id,
          height:'100%', autoplayControl:'true'}) %>
        </div>
        <div class="viewDataDetails">
          <h5><%=data.title%></h5>
          <h6><strong>Topic: </strong><%=data.topic%></h6>
          <h6><Strong>Level: </Strong><%=data.level%></h6>
          <h6><strong>Subject: </strong><%=data.subject%></h6>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="similarVideos">
        <h4>videos from the same topic</h4>
        <% if (similarVideos.length) {%>
        <div class="row sameVideoList">
          <%for(const videoLesson of similarVideos){%>
          <div class="col-12">
            <div class="dashboardBodyElement">
              <div class="row">
                <div class="col-7 col-sm-12 col-lg-7">
                  <div class="ElementDetails">
                    <h5><%=videoLesson.subject%></h5>
                    <h6><%=videoLesson.level%></h6>
                    <p><strong>Topic: <%=videoLesson.topic%> </strong></p>
                    <small> <%=videoLesson.title%> </small>
                  </div>
                  <div class="actionButtons">
                    <% if(videoLesson.cost === 'paid'){%>
                    <a
                      class="btn main_button"
                      href="/dashboard/subscriptions/video/playnow/<%=videoLesson._id%>"
                      >Play</a
                    >
                    <%} else {%>
                    <a
                      class="btn main_button"
                      href="/dashboard/free/video/playnow/<%=videoLesson._id%>"
                      >Play</a
                    >
                    <%}%>
                  </div>
                </div>
                <div
                  class="col-5 col-sm-12 col-lg-5 d-flex justify-content-center align-items-center"
                >
                  <div class="videoImage">
                    <% if(videoLesson.cost === 'paid'){%>
                    <a
                      class="play-btn"
                      href="/dashboard/subscriptions/video/playnow/<%=videoLesson._id%>"
                    ></a>
                    <%} else {%>
                    <a
                      class="play-btn"
                      href="/dashboard/free/video/playnow/<%=videoLesson._id%>"
                    ></a>
                    <%}%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%}%>
        </div>
        <% } else {%>
        <div class="noVideosFound">
          <h5>No videos found</h5>
          <span class="material-symbols-outlined">
            sentiment_dissatisfied
          </span>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
