<%=(layout('layout/boilerplate')) %>

<div class="dashboard">
  <div id="deleteVideoOverlay" class="deleteVideoOverlay">
    <div class="deleteVideoModal">
      <div class="deleteVideoBody">
        <p>Are you sure you want to delete this <span id="metaTag"></span>?</p>
        <h6 id="videoName"><Strong>name:</Strong></h6>
        <div class="deleteVideoButtons">
          <a id="closeDeleteModal" class="btn secondary_button">Cancel</a>
          <form action="" method="post">
            <button class="btn main_button">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="sidebarOverlay"></div>
  <div class="container">
    <button id="openSidebar" class="openSidebar secondary_button">
      open sidebar
      <span class="material-symbols-outlined"> arrow_forward </span>
    </button>
    <div id="sidebar" class="sidebar">
      <button id="closeSidebar" class="closeSidebar secondary_button">
        close sidebar
        <span class="material-symbols-outlined"> arrow_back </span>
      </button>
      <div class="profile">
        <div class="profilepic">
          <img src="https://placehold.co/100" alt="profilepic" />
        </div>
        <div class="profileinfo">
          <h5>Administrator</h5>
        </div>
        <a class="logout" href="/logout">
          logout <span class="material-symbols-outlined"> move_item </span></a
        >
      </div>

      <div class="sidebarsections">
        <h5>Menu</h5>
        <div class="extraMenu">
          <ul>
            <li>
              <% if(activeMenuItem && activeMenuItem ==='allUsers') {%>
              <a class="activesideMenu" href="/platformadmin/allusers">
                <span class="material-symbols-outlined"> group </span>
                All users</a
              >
              <%} else{%>
              <a href="/platformadmin/allusers">
                <span class="material-symbols-outlined"> group </span>
                All users</a
              >
              <% } %>
            </li>

            <li>
              <% if(activeMenuItem && activeMenuItem ==='allMessages') {%>
              <a
                class="activesideMenu"
                href="/platformadmin/allGuests/messages"
              >
                <span class="material-symbols-outlined"> forum </span>
                All messages</a
              >
              <%} else{%>
              <a href="/platformadmin/allGuests/messages">
                <span class="material-symbols-outlined"> forum </span>
                All messages</a
              >
              <% } %>
            </li>

            <li>
              <% if(activeMenuItem && activeMenuItem ==='dashboard') {%>
              <a class="activesideMenu" href="/dashboard/<%=currUser.username%>"
                ><span class="material-symbols-outlined"> team_dashboard </span
                >Dashboard</a
              >
              <%} else{%>
              <a href="/dashboard/<%=currUser.username%>"
                ><span class="material-symbols-outlined"> team_dashboard </span
                >Dashboard</a
              >
              <% } %>
            </li>

            <li>
              <% if(activeMenuItem && activeMenuItem ==='adddata') {%>
              <a class="activesideMenu" href="/platformadmin/adddata">
                <span class="material-symbols-outlined"> video_call </span>
                Add a video</a
              >
              <% }else{%>
              <a class="" href="/platformadmin/adddata">
                <span class="material-symbols-outlined"> video_call </span>
                Add a video</a
              >
              <%} %>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="sidebarsections">
        <h5>Subjects</h5>

        <div class="accordion" id="subjects">
          <div class="accordion-item">
            <h2 id="englishHEader" class="accordion-header">
              <button
                class="accordion-button <%=subject !=='english'?'collapsed':''%>"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#english"
                aria-expanded="<%=subject ==='english'?'true':'false'%>"
                aria-controls="english"
              >
                <span class="material-symbols-outlined"> contract_edit </span>
                English
              </button>
            </h2>
            <div
              id="english"
              class="accordion-collapse collapse <%=subject==='english'?'show':''%>"
              aria-labelledby="englishHEader"
              data-bs-parent="#subjects"
            >
              <div class="accordion-body">
                <h6>Select level</h6>
                <ul>
                  <li>
                    <a
                      class="<%=(level==='senior one'&& subject ==='english')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/english/senior one"
                      >Senior one</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior two'&& subject ==='english')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/english/senior two"
                      >Senior two</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior three'&& subject ==='english')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/english/senior three"
                      >Senior three</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior four'&& subject ==='english')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/english/senior four"
                      >Senior four</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior five'&& subject ==='english')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/english/senior five"
                      >Senior five</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior six'&& subject ==='english')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/english/senior six"
                      >Senior six</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 id="historyHEader" class="accordion-header">
              <button
                class="accordion-button <%=subject !=='history'?'collapsed':''%>"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#history"
                aria-expanded="<%=subject ==='history'?'true':'false'%>"
                aria-controls="history"
              >
                <span class="material-symbols-outlined"> history </span>
                History
              </button>
            </h2>
            <div
              id="history"
              class="accordion-collapse collapse <%=subject==='history'?'show':''%>"
              aria-labelledby="historyHEader"
              data-bs-parent="#subjects"
            >
              <div class="accordion-body">
                <h6>Select level</h6>
                <ul>
                  <li>
                    <a
                      class="<%=(level==='senior one'&& subject ==='history')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/history/senior one"
                      >Senior one</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior two'&& subject ==='history')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/history/senior two"
                      >Senior two</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior three'&& subject ==='history')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/history/senior three"
                      >Senior three</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior four'&& subject ==='history')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/history/senior four"
                      >Senior four</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior five'&& subject ==='history')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/history/senior five"
                      >Senior five</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior six'&& subject ==='history')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/history/senior six"
                      >Senior six</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 id="mathematicsHeader" class="accordion-header">
              <button
                class="accordion-button <%=subject !=='mathematics'?'collapsed':''%>"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mathematics"
                aria-expanded="<%=subject ==='mathematics'?'true':'false'%>"
                aria-controls="mathematics"
              >
                <span class="material-symbols-outlined"> calculate </span>
                Mathematics
              </button>
            </h2>
            <div
              id="mathematics"
              class="accordion-collapse collapse <%=subject==='mathematics'?'show':''%>"
              aria-labelledby="mathematicsHeader"
              data-bs-parent="#subjects"
            >
              <div class="accordion-body">
                <h6>Select level</h6>
                <ul>
                  <li>
                    <a
                      class="<%=(level==='senior one'&& subject ==='mathematics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/mathematics/senior one"
                      >Senior one</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior two'&& subject ==='mathematics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/mathematics/senior two"
                      >Senior two</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior three'&& subject ==='mathematics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/mathematics/senior three"
                      >Senior three</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior four'&& subject ==='mathematics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/mathematics/senior four"
                      >Senior four</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior five'&& subject ==='mathematics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/mathematics/senior five"
                      >Senior five</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior six'&& subject ==='mathematics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/mathematics/senior six"
                      >Senior six</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 id="physicsHeader" class="accordion-header">
              <button
                class="accordion-button <%=subject !=='physics'?'collapsed':''%>"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#physcis"
                aria-expanded="<%=subject ==='physics'?'true':'false'%>"
                aria-controls="physcis"
              >
                <span class="material-symbols-outlined"> scale </span>
                Physics
              </button>
            </h2>
            <div
              id="physcis"
              class="accordion-collapse collapse <%=subject==='physics'?'show':''%>"
              aria-labelledby="physicsHeader"
              data-bs-parent="#subjects"
            >
              <div class="accordion-body">
                <h6>Select level</h6>
                <ul>
                  <li>
                    <a
                      class="<%=(level==='senior one'&& subject ==='physics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/physics/senior one"
                      >Senior one</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior two'&& subject ==='physics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/physics/senior two"
                      >Senior two</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior three'&& subject ==='physics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/physics/senior three"
                      >Senior three</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior four'&& subject ==='physics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/physics/senior four"
                      >Senior four</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior five'&& subject ==='physics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/physics/senior five"
                      >Senior five</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior six'&& subject ==='physics')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/physics/senior six"
                      >Senior six</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 id="chemistryHeader" class="accordion-header">
              <button
                class="accordion-button <%=subject !=='chemistry'?'collapsed':''%>"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#chemistry"
                aria-expanded="<%=subject ==='chemistry'?'true':'false'%>"
                aria-controls="chemistry"
              >
                <span class="material-symbols-outlined"> science </span>
                Chemistry
              </button>
            </h2>
            <div
              id="chemistry"
              class="accordion-collapse collapse <%=subject==='chemistry'?'show':''%>"
              aria-labelledby="chemistryHeader"
              data-bs-parent="#subjects"
            >
              <div class="accordion-body">
                <h6>Select level</h6>
                <ul>
                  <li>
                    <a
                      class="<%=(level==='senior one'&& subject ==='chemistry')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/chemistry/senior one"
                      >Senior one</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior two'&& subject ==='chemistry')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/chemistry/senior two"
                      >Senior two</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior three'&& subject ==='chemistry')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/chemistry/senior three"
                      >Senior three</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior four'&& subject ==='chemistry')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/chemistry/senior four"
                      >Senior four</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior five'&& subject ==='chemistry')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/chemistry/senior five"
                      >Senior five</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior six'&& subject ==='chemistry')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/chemistry/senior six"
                      >Senior six</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 id="biologyheader" class="accordion-header">
              <button
                class="accordion-button <%=subject !=='biology'?'collapsed':''%>"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#biology"
                aria-expanded="<%=subject ==='biology'?'true':'false'%>"
                aria-controls="biology"
              >
                <span class="material-symbols-outlined"> psychiatry </span>
                Biology
              </button>
            </h2>
            <div
              id="biology"
              class="accordion-collapse collapse <%=subject==='biology'?'show':''%>"
              aria-labelledby="biologyheader"
              data-bs-parent="#subjects"
            >
              <div class="accordion-body">
                <h6>Select level</h6>
                <ul>
                  <li>
                    <a
                      class="<%=(level==='senior one'&& subject ==='biology')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/biology/senior one"
                      >Senior one</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior two'&& subject ==='biology')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/biology/senior two"
                      >Senior two</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior three'&& subject ==='biology')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/biology/senior three"
                      >Senior three</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior four'&& subject ==='biology')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/biology/senior four"
                      >Senior four</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior five'&& subject ==='biology')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/biology/senior five"
                      >Senior five</a
                    >
                  </li>
                  <li>
                    <a
                      class="<%=(level==='senior six'&& subject ==='biology')?'active':''%>"
                      href="/dashboard/<%=currUser.username%>/biology/senior six"
                      >Senior six</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboardContent">
      <div class="dashboardMenu">
        <div class="searchbar adminSearchbar">
          <form
            autocomplete="off"
            action="/dashboard/<%=currUser.username%>/search"
            method="GET"
          >
            <div class="autocomplete">
              <input
                id="searchInput"
                class="input-elevated"
                type="search"
                name="search"
                placeholder="Search for a topic"
              />
            </div>
            <ul class="search_suggestions">
              <hr />
            </ul>

            <button type="submit" class="btn secondary_button">search</button>
          </form>
        </div>
        <div class="container resultDescription">
          <p>
            <strong class="pe-2">Showing results of:</strong>
          </p>
        </div>
      </div>
      <div class="dashboardBody">
        <div class="row">
          <% if (isAllUsers) {%> <%if(data.length){%> <%for(const user of
          data){%>
          <div class="col-xl-4 col-sm-6">
            <div class="dashboardUserElement">
              <div class="userIcon">
                <span class="material-symbols-outlined">
                  contact_emergency
                </span>
              </div>
              <h5><%=user.username%></h5>
              <h6><%=user.email%></h6>
              <h6 class="userName"><%=user.firstName%> <%=user.lastName%></h6>
              <small class="pb-2"><%=user.secretePassword%></small>
              <div class="userButtons">
                <a
                  class="btn main_button"
                  href="/platformadmin/edituser/<%=user._id%>"
                  >Activate</a
                >
                <a
                  class="btn secondary_button openDeleteModal"
                  metaName="user"
                  deleteUrl="/platformadmin/deleteuser/<%=user._id%>?_method=DELETE"
                  videoName="<%=user.username%>"
                  >Delete</a
                >
              </div>
            </div>
          </div>

          <% } %> <% } %> <%} else if(isAllMessages){%> <% if (data.length) {%>
          <%for(const message of data){%>
          <div class="col-">
            <div class="dashboardBodyElement">
              <div class="row">
                <div class="ElementDetails">
                  <h5 class="pb-2"><%=message.guestName%></h5>
                  <h6><%=message.guestPhone%></h6>
                  <small> <%=message.guestMessage%> </small>
                </div>
                <div class="actionButtons justify-content-end">
                  <a
                    class="btn main_button"
                    href="/platformadmin/editdata/<%=message._id%>"
                    >Mark as read</a
                  >
                  <a
                    class="btn secondary_button openDeleteModal"
                    metaName="video"
                    deleteUrl="/platformadmin/deletedata/<%=message._id%>?_method=DELETE"
                    videoName="<%=message.title%>"
                    >Delete</a
                  >
                </div>
              </div>
            </div>
          </div>
          <%} %> <% }%> <% } else {%> <% if (data.length) {%> <%for(const
          videoLesson of data){%>
          <div class="col-md-6">
            <div class="dashboardBodyElement">
              <div class="row">
                <div class="col-7 col-sm-12 col-lg-7">
                  <div class="ElementDetails">
                    <h5><%=videoLesson.subject%></h5>
                    <h6><%=videoLesson.level%></h6>
                    <p><strong>Topic: <%=videoLesson.topic%> </strong></p>
                    <small> <%=videoLesson.title%> </small>
                  </div>
                  <div class="actionButtons">
                    <a
                      class="btn main_button"
                      href="/platformadmin/editdata/<%=videoLesson._id%>"
                      >edit</a
                    >
                    <a
                      class="btn secondary_button openDeleteModal"
                      metaName="video"
                      deleteUrl="/platformadmin/deletedata/<%=videoLesson._id%>?_method=DELETE"
                      videoName="<%=videoLesson.title%>"
                      >Delete</a
                    >
                  </div>
                </div>
                <div
                  class="col-5 col-sm-12 col-lg-5 d-flex justify-content-center align-items-center"
                >
                  <div class="videoImage">
                    <% if(videoLesson.cost === 'paid'){%>
                    <a
                      class="play-btn"
                      href="/dashboard/subscriptions/video/playnow/<%=videoLesson._id%>"
                    ></a>
                    <%} else {%>
                    <a
                      class="play-btn"
                      href="/dashboard/free/video/playnow/<%=videoLesson._id%>"
                    ></a>
                    <%}%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %> <% } else{%>
          <div class="noVideosFound">
            <h5>No videos found</h5>
            <span class="material-symbols-outlined">
              sentiment_dissatisfied
            </span>
          </div>
          <%}%> <%} %>
        </div>
      </div>
    </div>
  </div>
</div>
