<% (layout('layout/boilerplate')) %>

<div class="dashboardheader">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="userProfile">
          <div class="userProfileImage">
            <% if (currUser.profilePhoto) {%>
            <img
              src="/profilePhotos/<%=currUser.profilePhoto%>"
              alt="userProfile"
            />
            <%}else{%>
            <img src="https://placehold.co/70" alt="userProfile" />
            <%} %>
          </div>
          <div class="userProfileName">
            <% if (currUser.firstName && currUser.lastName) {%>
            <h5><%=currUser.firstName%> <%=currUser.lastName%></h5>
            <%}else {%>
            <h5>Student</h5>
            <% } %>
          </div>

          <div class="userProfileEmail">
            <% if (currUser.email) {%>
            <h6><%=currUser.email%></h6>
            <%}%>
          </div>
          <div class="userProfileEmail">
            <% if (currUser.username) {%>
            <h6><%=currUser.username%></h6>
            <%}%>
          </div>
          <div class="userProfileEmail">
            <% if (currUser.studentLevel) {%>
            <small><%=currUser.studentLevel%></small>
            <%}%>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="searchOption">
          <div class="searchOptionHeader">
            <h5>Search</h5>
          </div>
          <div class="searchOptionBody">
            <div class="searchbar">
              <form
                autocomplete="off"
                action="/dashboard/<%=currUser.username%>/search"
                method="GET"
              >
                <div class="autocomplete">
                  <input
                    id="searchInput"
                    class="input-elevated"
                    type="search"
                    name="search"
                    placeholder="Search by word"
                  />
                </div>
                <button type="submit" class="btn secondary_button">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container topicContent">
  <div class="row justify-content-center py-3">
    <% if (topics.length) {%> <% for (const topic of topics) { %>

    <a
      href="/dashboard/<%=currUser.username%>/<%=subjectSelected%>/<%=levelSelected%>/<%=termSelected%>/<%=topic%>"
      class="eachClass <%=subjectSelected%>"
    >
      <div class="className">
        <h3><%=topic%></h3>
      </div>
      <div class="eachclassIcon">
        <span class="material-symbols-outlined"> school </span>
      </div>
      <button class="btn main_button">select</button>
      <div class="classDescription <%=subjectSelected%>">
        <p>
          <strong
            ><%=subjectSelected%>
            <span class="material-symbols-outlined"> arrow_forward_ios </span>
            <%=levelSelected%></strong
          >
          <span class="material-symbols-outlined"> arrow_forward_ios </span>
          <%=termSelected%>
        </p>
      </div>
    </a>
    <%}%> <%} %>
  </div>
</div>
