<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
    />
    <meta name="theme-color" content="#06517d" />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,200,0,0"
    />
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/libs/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/libs/owl.theme.default.min.css" />
    <script src="/js/libs/lottie-player.min.js"></script>
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <meta
      name="description"
      content="An online Education platform for students and teachers."
    />
    <title>Twan's Net School</title>
  </head>
  <body>
    <%-include('../partials/Navbar') %> <% if(success.length){%>
    <%-include('../partials/successflash')%> <% } %> <% if(error.length){%>
    <%-include('../partials/errorflash')%> <% } %>
    <main class="main-body-holder">
      <div class="sendDataLoader">
        <div class="loaderHeader">
          <title>loader</title>
        </div>
        <div class="loaderBody">
          <h5>Sending information ....</h5>
          <div class="spin">
            <div class="inner"></div>
          </div>
        </div>
      </div>
      <%- body %> <%- include('../partials/Footer') %>
    </main>
    <!-- <script src="/js/libs/popper.min.js"></script> -->
    <script src="/js/libs/jquery-3.4.1.min.js"></script>
    <script src="/js/libs/typeahead.bundle.js"></script>
    <script src="/js/libs/typeahead.jquery.js"></script>
    <script src="/js/libs/owl.carousel.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>

    <script
      src="https://unpkg.com/react@18/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
      crossorigin
    ></script>

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script src="/js/allvideos.js"></script>
    <script src="/js/freeTime.js"></script>

    <script src="/js/main.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        "use strict";
        window.addEventListener(
          "load",
          function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.getElementsByClassName("needs-validation");
            const sendDataLoader = document.querySelector(".sendDataLoader");
            const mainBodyHolder = document.querySelector(".main-body-holder");
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(
              forms,
              function (form) {
                form.addEventListener(
                  "submit",
                  function (event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                      form.classList.add("was-validated");
                    }
                    if (form.checkValidity() === true) {
                      mainBodyHolder.style.maxHeight = "100vh";
                      mainBodyHolder.style.overflow = "hidden";
                      sendDataLoader.style.top = "0";
                      window.scrollTo(0, 0);
                    }
                  },
                  false
                );
              }
            );
          },
          false
        );
      })();
    </script>
  </body>
</html>
